  
body {
position: relative;
background-color: lightgrey;
background-blend-mode: lighten;
background-attachment: fixed;
margin: 0;
color: white;
}

/* Navigation bar */
button {
  -webkit-writing-mode: horizontal-tb !important;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: center;
	align-items: flex-start;
	font: 400 11px system-ui;
	font-style: normal;
	font-variant-ligatures: normal;
	font-variant-caps: normal;
	font-variant-numeric: normal;
	font-variant-east-asian: normal;
	font-weight: normal;
  font-stretch: normal;
  font-size: large;
}

.navbar {
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgb(179, 60, 90);
  font-family: 'Helvetica';
  font-weight: normal;
  color: black;
  font-size: large;
  
}

/* =Box container
______________________________________ */

#comparisonbox {
  background-color: white;
	box-shadow: 3px 5px 5px 3px gray;
	width: auto;
	height: auto;
  font-family: Gill Sans, sans-serif;
  outline-style: solid;
  outline-width: 1px;
  outline-color: lightgray;
  box-shadow: none;
  margin-top: 50px; 
	margin-bottom: 50px;
	padding: 10px 20px 15px;
	border-radius: 4px;
}


#dataBox {
  background-color: white;
	box-shadow: 3px 5px 5px 3px gray;
	width: auto;
	height: auto;
  font-family: Gill Sans, sans-serif;
  outline-style: solid;
  outline-width: 1px;
  outline-color: lightgray;
  box-shadow: none;
  margin-top: 50px; 
	margin-bottom: 50px;
	padding: 10px 20px 15px;
	border-radius: 4px;
}

#table {
	overflow-x: auto; 
	overflow-y: auto;
	max-height:470px; 
	max-width: auto;
	overflow: auto;
	width: auto;
	max-width: 100%;
	margin-bottom: 1rem;
	border-collapse: collapse;
}

.table-layout {
	table-layout: fixed;
	width: 100%;
}



h1 {
     color: rgb(29, 172, 164);
     background-color: white;
     font-family: 'Helvetica';
     font-weight: bold;
}
h2 {
  color: rgb(0, 0, 0);
  background-color: white;
  font-family: 'Helvetica';
  font-weight: bold;
}

h3 {
     color:black;
     background-color: white;
     font-family: 'Helvetica';
     font-weight: normal;
}
h5 {
  color: black(12, 173, 167);
  background-color: white;
  font-family: 'Helvetica';
  font-weight: normal;
}

img {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

p {
	color: black;
	font-family: Helvetica;
  font-size: 16px;
  font-weight: normal
}
