  
body {
position: relative;
top: 50%;
background-color: whitesmoke;
background-blend-mode: lighten;
background-attachment: fixed;
margin: 0;
color: white;
}

/* Navigation bar */
button {
  -webkit-writing-mode: horizontal-tb !important;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: center;
	align-items: flex-start;
	font: 400 11px system-ui;
	font-style: normal;
	font-variant-ligatures: normal;
	font-variant-caps: normal;
	font-variant-numeric: normal;
	font-variant-east-asian: normal;
	font-weight: normal;
  font-stretch: normal;
  font-size: large;
}


.navbar {
  padding-left: 2%;
  padding-right: 2%;
  margin-right: 5px;
  background-color: lightgray;
  font-family: 'Helvetica';
  font-weight: normal;
  color: black;
  font-size: large;
  
}

/* =Box container
______________________________________ */

#comparisonbox {
  background-color: white;
	box-shadow: 3px 5px 5px 3px gray;
	width: auto;
	height: auto;
  font-family: Gill Sans, sans-serif;
  outline-style: solid;
  outline-width: 1px;
  outline-color: lightgray;
  box-shadow: none;
  margin-top: 80px; 
  margin-left: 100px;
  margin-right: 100px;
	margin-bottom: 80px;
	padding: 10px 20px 15px;
	border-radius: 4px;
}

#resumebox {
  background-color: white;
	box-shadow: 3px 5px 5px 3px gray;
	width: auto;
	height: auto;
  font-family: Gill Sans, sans-serif;
  outline-style: solid;
  outline-width: 1px;
  outline-color: lightgray;
  box-shadow: none;
  margin-top: 80px; 
  margin-left: 100px;
  margin-right: 100px;
	margin-bottom: 80px;
	padding: 20px 20px 15px;
	border-radius: 4px;
}

#projectbox {
  background-color: white;
	box-shadow: 3px 5px 5px 3px gray;
	width: auto;
	height: auto;
  font-family: Gill Sans, sans-serif;
  outline-style: solid;
  outline-width: 1px;
  outline-color: lightgray;
  box-shadow: none;
  margin-top: 80px; 
  margin-left: 130px;
  margin-right: 130px;
	margin-bottom: 80px;
	padding: 20px 20px 15px;
	border-radius: 4px;
}

h1 {
     color: black;
     background-color: white;
     font-family: 'Helvetica';
     font-weight: bold;
     text-align: center;
}
h2 {
  color: rgb(0, 0, 0);
  background-color: white;
  font-family: 'Helvetica';
  font-weight: bold;
}

h3 {
     color:black;
     background-color: white;
     font-family: 'Helvetica';
     font-weight: normal;
}

h4 {
  color: black;
  font-family: 'Helvetica';
  font-weight: bold;
  text-align: center;
}

h5 {
  color: black(12, 173, 167);
  background-color: white;
  font-family: 'Helvetica';
  font-weight: normal;
}


img {
    padding-top: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 30%;
}

.center1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 105%;
  height: 105%;
}

.row { display: flex; justify-content: center; align-items: center; }

.button1 {
  background-color: white;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px;
  border-color: lightgray;
  margin-right: 3%;
  width: 80px;
  height: 40px;
  color: gray;
  font-family: Helvetica;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}

.button2 {
  background-color: white;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 5px;
  border-color: lightgray;
  width: 80px;
  height: 40px;
  color: gray;
  font-family: Helvetica;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}

.button1 , .button2 {
  text-align: center;
  display:inline-block;
  }


p, ul, li {
  margin-left: 2%;
  margin-right: 2%;
	color: black;
	font-family: Helvetica;
  font-size: 16px;
  font-weight: normal
}

a {
  text-decoration: none;
}

.nav-item{
  text-decoration: none;
  margin-left: 2%;
}

.nav-item:hover {
  color:#00A0C6; 
  text-decoration:none; 
  cursor:pointer;  
}

a:hover 
{
   color:#00A0C6; 
   text-decoration:none; 
   cursor:pointer;  
}



