body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: DejaVu Sans Mono, monospace;
	background-color: black;
}

#buble{
    width: 95%;
}

#box {
    background-color: white;
    box-shadow: 3px 5px 5px 3px gray;
    width: 95%;
    height: auto;
    font-family: Gill Sans, sans-serif;
    box-shadow: none;
    margin-top: auto; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 10px 20px 15px;
    border-radius: 4px;
    }

.jumbotron {
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pbs.org%2Fwgbh%2Fnova%2Fvideo%2Fsix-microbes-living-in-you%2F&psig=AOvVaw18I63EbXaZyDRmnBAT9w4A&ust=1583099429854000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPDxgI3f9-cCFQAAAAAdAAAAABAD);
    text-align: center;
    font-family: 'Helvetica';
    color: white;
    font-weight: bold;
}


    h1 {
        font-family: 'Helvetica';
        color: black;
        font-weight: bold;
   }

h3 { 
    font-family: 'Arial';
    color: grey;
}